// Remplacer les variables sass par défaut de Bootstrap
//
// Presque toutes les variables de Bootstrap sont écrites avec le drapeau `!default`.
// Cela vous permet de remplacer les valeurs par défaut de ces variables avant
// d'importer les fichiers Sass de Bootstrap.
//
// Remplacer les valeurs par défaut des variables est la meilleure façon de personnaliser votre
// CSS sans écrire de _nouveaux_ styles. Par exemple, vous pouvez soit changer
// `$body-color` ou écrire plus de CSS qui surcharge le CSS de Bootstrap comme ceci :
// `body { color : red ; }`.



//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Placez d'abord les variables de substitution, puis importez uniquement les styles dont vous avez besoin. Notez que certaines feuilles de style sont nécessaires quoi qu'il arrive.

@import "./custom-theme";

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "~/node_modules/bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #efeee8;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "~/node_modules/bootstrap/scss/variables";
@import "~/node_modules/bootstrap/scss/variables-dark";
@import "~/node_modules/bootstrap/scss/maps";
@import "~/node_modules/bootstrap/scss/mixins";
@import "~/node_modules/bootstrap/scss/utilities";
@import "~/node_modules/bootstrap/scss/root";
@import "~/node_modules/bootstrap/scss/reboot";

@import "~/node_modules/bootstrap/scss/type";
@import "~/node_modules/bootstrap/scss/images";
@import "~/node_modules/bootstrap/scss/containers";
@import "~/node_modules/bootstrap/scss/grid";
// @import "~/node_modules/bootstrap/scss/tables";
@import "~/node_modules/bootstrap/scss/forms";
@import "~/node_modules/bootstrap/scss/buttons";
@import "~/node_modules/bootstrap/scss/transitions";
@import "~/node_modules/bootstrap/scss/dropdown";
@import "~/node_modules/bootstrap/scss/button-group";
@import "~/node_modules/bootstrap/scss/nav";
@import "~/node_modules/bootstrap/scss/navbar"; // Requires nav
@import "~/node_modules/bootstrap/scss/card";
// @import "~/node_modules/bootstrap/scss/breadcrumb";
// @import "~/node_modules/bootstrap/scss/accordion";
@import "~/node_modules/bootstrap/scss/pagination";
// @import "~/node_modules/bootstrap/scss/badge";
// @import "~/node_modules/bootstrap/scss/alert";
@import "~/node_modules/bootstrap/scss/progress";
@import "~/node_modules/bootstrap/scss/list-group";
@import "~/node_modules/bootstrap/scss/close";
@import "~/node_modules/bootstrap/scss/toasts";
@import "~/node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "~/node_modules/bootstrap/scss/tooltip";
@import "~/node_modules/bootstrap/scss/popover";
@import "~/node_modules/bootstrap/scss/carousel";
@import "~/node_modules/bootstrap/scss/spinners";
@import "~/node_modules/bootstrap/scss/offcanvas"; // Requires transitions
@import "~/node_modules/bootstrap/scss/placeholders";

// Helpers / utility classes
@import "~/node_modules/bootstrap/scss/helpers";

// Utilities
@import "~/node_modules/bootstrap/scss/utilities/api";





//
// Custom styles
//

@import "icon-list";

