// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "~bootstrap/scss/bootstrap";

// Option 2
//

// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import 'variables-override';
@import '~bootstrap/scss/bootstrap';

@import "icon-list";

body {
  padding: 1.5rem;
}
